{% extends "layout.html" %}
{% block body %}

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <!--<div id="column_chart"></div>-->
  <table style="width:100%">
    <col width="50%">
    <col width="50%">
    <tr>
      <td colspan="2" align="center"><h5><br>Web Scraping History in the Past 7 Days</h5></td>
    </tr>
    <tr>
      <td colspan="2"><div id="column_chart"></div></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><h5><br>Total Items Scraped in the Past 24 Hours</h5></td>
    </tr>
    <tr>
      <td align="center"><div id="table_div"></div></td>
      <td align="center"><div id="pie_chart"></div></td>
    </tr>
  </table>


  <script type='text/javascript'>//<![CDATA[

  google.charts.load('current', {packages: ['corechart', 'bar', 'table']});
  google.charts.setOnLoadCallback(drawBasic);
  google.charts.setOnLoadCallback(drawChart);
  google.charts.setOnLoadCallback(drawTable);

  function drawBasic() {

    var data = new google.visualization.DataTable();
    data.addColumn('datetime', 'Time of Day');
    {%- for col in cols %}
    data.addColumn('number', '{{ col }}');
    {%- endfor %}

    data.addRows([
      {%- for dt, num in rows %}
      [new Date(...{{ dt }}), ...{{ num }}],
      {%- endfor %}
    ]);

    var options = {
      isStacked: true,
      hAxis: {
        title: 'Time of Day'
      },
      vAxis: {
        title: 'Number of items scripted'
      },
      'width':'90%',
      'height':300
    };

    var chart = new google.visualization.ColumnChart(document.getElementById('column_chart'));

    chart.draw(data, options);
  };

  function drawChart() {

    var data = google.visualization.arrayToDataTable({{ counts|safe }});

    var options = {
      'width': '100%',
      'height':300
    };

    var chart = new google.visualization.PieChart(document.getElementById('pie_chart'));

    chart.draw(data, options);
  };

  function drawTable() {

    var data = google.visualization.arrayToDataTable({{ counts|safe }});

    var table = new google.visualization.Table(document.getElementById('table_div'));

    var options = {
      title: 'Total Items Scraped in the Past 24 Hours',
      'width': '75%',
      sortColumn: 1,
      sortAscending: false,
      showRowNumber: true
    };

    table.draw(data, options);
  }

  //]]>

  </script>
 
 
{% endblock %}
